* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
font-family: "Poppins", sans-serif;
background: #0f172a; /* hibás karakter javítva */
color: rgb(128, 120, 120);
}

/*nav bar innentol kezdodik*/
nav {
width: 100%;
padding: 1rem 5%;
background: rgba(255, 255, 255, 0.05); /* szintaxis javítva */
border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* szintaxis javítva */
backdrop-filter: blur(15px); /* szintaxis javítva */
margin-bottom: 2rem;

display: flex;
align-items: center;
justify-content: space-between;
}

.logo{
  font-size: 1.8rem;
  font-weight: 700;
  color: #9ca3af; /* autós fórumos szürke */
  letter-spacing: 1px;
}

.nav-links{
  display: flex;
  list-style: none;
  gap: 2rem;
}

.nav-links li a {
  position: relative;
  font-size: 1.05rem;
  font-weight: 500;
  text-decoration: none;
  color: #7180d8; /* sport-kék */
  transition: 0.3s;
}

.nav-links li a:hover{
  color: #8e5de3; /* neon-lila */
  text-shadow: 0 0 10px rebeccapurple;
}

/*pérmium gomb*/
.btns{
  display: flex;
}

.btn{
  padding: 0.5rem 1.5rem;
  border-radius: 30px;
  font-weight: 600;
  font-size: 1rem;
  background-color: #e3b341; /* autós arany */
  color: #4a2b00; /* barna */
  box-shadow: 0 0 15px rgb(223, 104, 7);
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover{
  background-color: #ffcc4d; /* világosabb arany */
  box-shadow: 0 0 25px rgb(223, 104, 7);
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
